@model CapStone.Models.UserLabor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserLabor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Labor.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Labor.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isComplete)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserLaborId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
