@model IEnumerable<CapStone.Models.UserQuest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Quest.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isComplete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Quest.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isComplete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserQuestid }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserQuestid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserQuestid })
        </td>
    </tr>
}

</table>
